<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <div class="container" id="app">
        <div class="row mb-3">
            <div class="col-12">
                <h1>HELLO!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="search">Find your car</label>
                    <input id="search" class="form-control" type="text" placeholder="Name, model ...">
                </div>
                <hr/>
                <ul class="list-group">
                    <li
                        v-for="(car, index) of cars"
                        class="list-group-item list-group-item-action pointer"
                        v-on:click="selectCar(index)"
                        v-bind:class="{'active': selectActive === index}"
                    >
                        {{ car.name }} - {{ car.model }}
                    </li>
                </ul>
            </div>

            <div class="col-md-8 pt-4">
                <div class="row">
                    <div class="col-md-5">
                        <h2>{{ carActive.name }}</h2>
                        <img
                            class="searchForm__img"
                            v-bind:src="carActive.image"
                            v-bind:alt="carActive.name"
                        >
                    </div>
                    <div class="col-md-7 pt-2 pl-4">
                        <h5>Car details</h5>
                        <ul>
                            <li>{{ carActive.name }} - <strong>{{ carActive.model }}</strong></li>
                            <li>Year <strong>{{ carActive.year }}</strong></li>
                            <li>Owner <strong>{{ carActive.owner }}</strong></li>
                        </ul>
                        <p v-if="phoneVisibility"> {{ carActive.phone }}</p>
                        <button
                            class="btn btn-outline-success mr-2"
                            v-on:click="phoneVisibility = true"
                        >
                            Show phone
                        </button>
                        <button class="btn btn-primary">Buy</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="vue/vue.min.js"></script>
    <script src="static/js/script.js"></script>
</body>

</html>