// general
.pointer { cursor: pointer; }
.modal { display: block; }

// blocks
.searchForm {
    &__img {
        max-width: 21rem;
    }
}

.detailsInfo {
    &__phone {
        min-height: 2rem;
    }
}